<div class="p-3">
    <% if (token.role===3) { %>
        <a href="/admin/facilities" class="nav-link text-decoration-none text-dark fs-4 ">
            <img src="/static/img/left-arrow.png" class="me-2" height="20px" width="20px">Facilities</a>
        <%} else { %>
            <a href="/admin/schools" class="nav-link text-decoration-none text-dark fs-4 ">
                <img src="/static/img/left-arrow.png" class="me-2" height="20px" width="20px">Facilities</a>
        <% } %>

<div class="mt-5">
    <div class="text-center">
        <img src="/<%= facilityList.image; %>" class="rounded" width="300px" height="200">
    </div>
<div class=" mt-5">
    <span class="text-dark"><b>Facility Name</b></span> :
    <span class="ms-3"><%= facilityList.name; %></span>
</div>
<div class="mt-2">
    <span class="text-dark"><b>Description</b></span> :
    <span class="ms-3"><%- unescape(facilityList.description) %></span>
</div>
<div class=" mt-2">
    <span class="text-dark"><b>Location</b></span> :
    <span class="ms-3"><%= facilityList.location; %></span>
</div>
<div class=" mt-2">
    <span class="text-dark"><b>Capacity</b></span> :
    <span class="ms-3"><%= facilityList.capacity; %></span>
</div>
</div>
</div>